<div class="main-layout" [class.no-sidebar]="!isSidebarVisible">
  <div class="sidebar">
    <somp-Side-bar
      [showSideBarLine]="(isShowSideBarLines$ | async) ?? false"
      [showSideBar]="(isShowSideBar$ | async) ?? false"
    ></somp-Side-bar>
  </div>
  <div class="main-content">
    <div>
      <somp-tool-top-bar
        [formSaving]="(isFormSaving$ | async) ?? false"
        [formSaved]="(isFormSaveSuccess$ | async) ?? false"
        [showTopToolBar]="(isShowTopToolBar$ | async) ?? false"
        [pageTitle]="(pageTitle$ | async) ?? ''"
      ></somp-tool-top-bar>
    </div>
    <somp-notification></somp-notification>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
