:host {
    display: block;
    height: 100vh;
  }
  
  .main-layout {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr;
    height: 100%;
  }
  
  .main-layout.no-sidebar {
    grid-template-columns: 100%;
  }
  
  .sidebar {
    overflow-y: auto;
  }
  
  .main-content {
    overflow: hidden;
  }
  
  .content-area {
    overflow-y: auto;
  }
  